<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/JuaraCoding/ujian-jc-testing/src/test/java/ATMTest.java">
        <classes>
            <class name="com.juaracoding.ATMTest">
                <methods>
                    <include name="testLihatSaldo"/>
                    <include name="testSetorUang"/>
                    <include name="testSetorUangNegatif"/>
                    <include name="testTarikUang"/>
                    <include name="testTarikUangLebihDariSaldo"/>
                    <include name="testTarikUangNegatif"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>